.navbar {
    position: fixed;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    height: 5%;
    max-height: 75px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;

    &__cartButton {
        background-color: #333;
        position: relative;
        height: 100%;
        width: 25px;
        color: #fff;
        border: none;
        padding: 2px;
        cursor: pointer;

        &__cartAmmount {
            position: absolute;
            background-color: #f00;
            color: #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            top: -10px;
            right: -10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }

    &__cartButtonRes {
        display: none;
    }

    &__favoriteBtn {
        background-color: #333;
        position: relative;
        height: 100%;
        width: 25px;
        color: #fff;
        border: none;
        padding: 2px;
        cursor: pointer;

        &__favoritesAmmount {
            position: absolute;
            background-color: #f00;
            color: #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            top: -10px;
            right: -10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }



    @media screen and (max-width: 425px) {
        height: 10%;

        &__cartButton {
            display: none;
        }

        &__cartButtonRes {
            display: block;
            background-color: #333;
            position: relative;
            height: 100%;
            width: 25px;
            color: #fff;
            border: none;
            padding: 2px;
            cursor: pointer;

            &__cartAmmount {
                position: absolute;
                background-color: #f00;
                color: #fff;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                top: -10px;
                right: -10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
